/* 博爱公益 */
.fo_is {
  /* height: 1020px !important; */
}

.fo_is .fo_fl .con {
  min-height: 845px;
}

.fo_is .fo_fl .con li {
  height: 134px !important;
  padding: 17px 0;
  border-bottom: 1px dotted #ddd;
}

.fo_fl {
  /* height: 1000px !important; */
}