/* 右侧 */
.fo_fr {
  width: 260px;
  float: right;
}

.fo_is .fo_fr h1 {
  width: 260px;
  height: 35px;
  line-height: 35px;
  background: fff;
  font-size: 15px;
  font-family: '宋体';
  margin-bottom: 10px;
}

.fo_is .fo_fr h1 a {
  display: inline-block;
  height: 35px;
  line-height: 35px;
  color: #555;
  border-bottom: 1px solid #123cb9;
  font-family: "sans-serif", "微软雅黑";
}

.fo_is .fo_fr h1 span {
  width: 200px;
  display: inline-block;
  float: right;
  color: #999;
  font-size: 13px;
  padding-left: 133px;
  box-sizing: border-box;
  font-family: '微软雅黑';
  font-weight: 100;
  border-bottom: 1px solid #555;
}

.fo_is .fo_fr .fo_fr_Tit {
  background-color: #fff;
  margin-bottom: 15px;
}

.fo_is .fo_fr .fo_fr_Tit .fo_fr_Swp {
  padding: 15px;
  box-sizing: border-box;
  width: 100%;
  background: #48d1cc;
}

.fo_is .fo_fr .fo_fr_Tit .fo_fr_Swp .banner1 .div {
  width: 100%;
  height: 360px;
  text-align: center;

}

.fo_is .fo_fr .fo_fr_Tit .fo_fr_Swp .banner1 .div h2 a {
  color: #333;
  font-family: "微软雅黑";
  font-size: 15px;
  font-weight: bold;
  line-height: 37px;
  text-align: center;
  font-family: "sans-serif", "微软雅黑";
}

.fo_is .fo_fr .fo_fr_Tit .fo_fr_Swp .banner1 .div p {
  color: #767676;
  line-height: 20px;
  font-size: 15px;
  text-align: center;
}

.fo_is .fo_fr .fo_fr_Tit .fo_fr_Swp .banner1 .div p span {
  border-radius: 4px;
  /* background: #ededed */
  background: linear-gradient(bottom, #c0c0c0, #fff);
  background: -ms-linear-gradient(bottom, #c0c0c0, #fff);
  background: -webkit-linear-gradient(bottom, #c0c0c0, #fff);
  background: -o-linear-gradient(bottom, #c0c0c0, #fff);
  background: -moz-linear-gradient(bottom, #c0c0c0, #fff);

}

.fo_is .fo_fr .tu {
  margin-top: 5px;
}

.fo_is .fo_fr .tu .tuBox {
  width: 100%;
  height: 150px;
}

.fo_is .fo_fr .tu .tuBox .tuTop {
  width: 100%;
  height: 75px;
  padding: 15px 30px 15px 0px;
  box-sizing: border-box;
}

.fo_is .fo_fr .tu .tuBox .tuTop img {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 10px;
}

.fo_is .fo_fr .tu .tuBox .tuTop span {
  font-size: 14px;
  font-family: "sans-serif", "微软雅黑";
  color: #444
}

.fo_is .fo_fr .tu .tuBox .tuTop p {
  font-size: 18px;
  font-family: "sans-serif", "微软雅黑";
  color: #444
}





.fo_is .fo_fr .tu .tuBox .tuBut {
  width: 100%;
  height: 75px;
  padding: 15px 30px 15px 0px;
  box-sizing: border-box;
}

.fo_is .fo_fr .tu .tuBox .tuBut img {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 10px;
}

.fo_is .fo_fr .tu .tuBox .tuBut span {
  font-size: 14px;
  font-family: "sans-serif", "微软雅黑";
  color: #444
}

.fo_is .fo_fr .tu .tuBox .tuBut p {
  font-size: 18px;
  font-family: "sans-serif", "微软雅黑";
  color: #444
}



.fo_is .fo_fr .zixun {
  margin-top: 15px;
  margin-bottom: 35px;
}

.fo_is .fo_fr .zixun a {
  width: 100%;
  height: 35px;
  line-height: 35px;
  margin: 0 auto;
  display: block;
  background: #666;
  color: #fff;
  text-align: center;
  font-family: "sans-serif", "微软雅黑";
  font-size: 16px;
}

.fo_is .fo_fr .zixun a:hover {
  background-color: #3384ee;
}




.fo_is .fo_fr .ct_l {
  width: 100%;
}

.fo_is .fo_fr .ct_l ul li:first-child h5 {
  background: #005aab;
}

.fo_is .fo_fr .ct_l ul li {
  margin-bottom: 13px;
}

.fo_is .fo_fr .ct_l ul li h5 {
  height: 32px;
  line-height: 32px;
  width: 100%;
  background: #4e4e4e;
  color: #fff;
  font-weight: 100;
}

.fo_is .fo_fr .ct_l ul li h5 img {
  display: block;
  float: left;
  margin: 8px 5px 0 10px;
}

.fo_is .fo_fr .ct_l ul li h5 a {
  width: 241px;
  display: block;
  font-weight: 100;
  color: #fff;
  font-family: "sans-serif", "微软雅黑";
}

.fo_is .fo_fr .ct_l ul li .imee {
  width: 100%;
  display: block;
}

.fo_is .fo_fr .ct_l ul li .imee .imeeImg {
  width: 100%;
  height: 100%;
}





/* swiper样式 */
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 100%;
  height: 360px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}